<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.x.securityscanner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.x.securityscanner.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.x.securityscanner.VulnsDetailActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name="com.x.securityscanner.RisksDetailActivity"
            android:exported="false"
            android:launchMode="singleTask" >
        </activity>
    </application>

</manifest>